# Frontend (Vue/Quasar)
VUE_APP_PORT=
HOST_PORT=

# Backend (NestJS)
NODE_ENV=development
NEST_API_PORT=

# Database (PostgreSQL)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_ROOT_PASSWORD=